body {
  background-image: url('static/images/background_inferno.png'), url('static/images/derek1.png');
  background-repeat: no-repeat;
  background-size: cover, 32.5rem;
  background-position: center, bottom;
  background-blend-mode: multiply;
}

a {
  color: white;
  background-color: black;
}

a:link {
  color: white;
  background-color: black;
}

a:hover {
  color: white;
  background-color: black;
  font-size: 1.2rem;
}

a:active {
  color: yellow;
  background-color: blue;
}
