body {
  background-image: url('static/images/derek1.png'), url('static/images/betaful3.png');
  background-repeat: no-repeat, no-repeat;
  background-size: 20rem, 8rem;
  background-position: right bottom, left bottom;
  background-blend-mode: normal, normal;
  background-attachment: fixed, fixed;
  background-color: #f5f5f5;
}
