body {
  background-image: url('static/images/derek1.png'), url('static/images/betaful3.png');
  background-repeat: no-repeat, repeat;
  background-size: 32.5rem, 15rem;
  background-position: right bottom, center;
  background-blend-mode: normal;
  background-color: #3454d1;
}

a {
  color: white;
  background-color: black;
}

a:link {
  color: white;
  background-color: black;
}

a:hover {
  color: white;
  background-color: black;
  font-size: 1.2rem;
}

a:active {
  color: black;
  background-color: rgb(255, 234, 17);
}
