body {
  background-image: url('static/images/derek1.png');
  background-repeat: no-repeat;
  background-size: 12rem;
  background-position: right bottom;
  background-blend-mode: multiply;
  background-color: #838e83;
}

