html {
  height: 100%;
}

body {
  height: 100%;
}

.bigback {
  background-image: url('static/images/compressedbayes_inferno.png');
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
}

.bigimg {
  height: 100%;
  background-image: url('static/images/derek1.png'), url('static/images/bayesbayes_inferno.png');
  background-repeat: no-repeat;
  background-position: bottom, center;
  background-attachment: fixed, scroll;
  background-size: auto 70%, 300rem;
}

.derkle {
  position: relative;
  left: 37%;
  top: 13%;
  width: 500px;
  height: 500px;
  background-color: rgba(0,0,0,.1);
  background-image: url('static/images/derek1.png');
  background-repeat: no-repeat;
  background-position: 52% 1%;
  background-size: 80rem;
  border-radius: 50%;
}

p {
  font-size: 24px;
  padding-left: 2rem;
}

.hypotheticals {
  padding: 2rem;
  font-style: italic;
}
